<h1>Sua História</h1>

<!--{{#if data.form1}}
  <h2>Respostas do Formulário Completo</h2>

  <h3>Formulário 1</h3>
  {{#each data.form1}}
    <p><strong>{{@key}}:</strong> {{this}}</p>
  {{/each}}

  <h3>Formulário 2 (Missões)</h3>
  {{#each data.form2}}
    <div>
      <h4>Missão {{@index}}</h4>
      {{#each this}}
        <p><strong>{{@key}}:</strong> {{this}}</p>
      {{/each}}
    </div>
  {{/each}}
{{else}}
  <h2>Respostas do Formulário Rápido</h2>
  {{#each data}}
    <p><strong>{{@key}}:</strong> {{this}}</p>
  {{/each}}
{{/if}}-->

<h2>Texto Gerado pela IA:</h2>
<div>{{{narrative}}}</div>

<!-- Botão para voltar ao início -->
<button onclick="location.href='/'">Voltar ao Início</button>